@theme {
	--color-background: #f2ede7;
	--color-primary: #4a7c9e;
	--color-secondary: #123123;
	--color-text-primary: #ffffff;
	--color-text-secondary: #a0a0a0;
	--color-accent: #000;
	--color-special: #0967ff;
}

@font-face {
	font-family: "Inter";
	src: url("/inter.ttf");
}
